body {
    padding: 0%;
    margin: 0%;
}

#main {
    max-height: 480px;
    max-width: 386px;
    box-shadow: -6px 6px 6px -1px #b4b4b4;
    border-radius: 1%;
}

#titleContainer {
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
}

.title {
    padding: 10px;
    padding-bottom: 5px;
}

.ui {
    padding-left: 20px;
    padding-bottom: 10px;
}

.score {
    padding-top: 10px;
}

img {
    border-radius: 1% 1% 0% 0%;
}

.playerOneBtn {
    background-color: #00cba9;
}
.playerTwoBtn {
    background-color: #2c8dd8;
}
.resetBtn {
    background-color: #ee3d5e;
}

/* three classes below will be used via javascript */
.winner {
    color: green;
}
.loser {
    color: red;
}
.tie {
    color: #e4d00a;
}
